[data-anime] {
  opacity: 0;
  transition: ease-in-out .5s;
}

[data-anime="left"] {
  transform: translate3d(-60px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(60px, 0, 0);

  @include mobile {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-anime="top"] {
  transform: translate3d(0, -60px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 60px, 0);
}

[data-anime].animation {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}